* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
}

.dashboard {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100%;
}

.contactos {
    display: flex;
    flex-direction: column;
    height: 100vh;
    flex: 1;
    justify-content: space-evenly;
    border-right-color: #bec1bb;
    border-right-style: solid;
    border-right-width: 2px;
}

.usuario {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 10px;
    border-bottom-color: #bec1bb;
    border-bottom-style: solid ;
    border-bottom-width: 2px;
    font-size: 14px;
    font-weight: 300;
}

.usuario.activo {
    justify-content: space-between;
}

.usuario.activo .perfil {
    display: flex;
    flex-direction: row;
}

.usuario.activo p {
    font-size: x-small;
    color: #bec1bb;
    
}

.usuario .thumbnail {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 150px;
    margin: 0 10px;
}

.usuario.activo .thumbnail{
    width: 30px;
    height: 30px;
}

.iconos {
    color:  #828485;
    padding: 0 20px;
    font-size: large;
}

.fa-message {
    margin: 0 10px;
}

.chat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom-color: #bec1bb;
    border-bottom-style: solid ;
    border-bottom-width: 2px;
}
.boton {
    display: inline-block;
    background-color: #a491d2;
    margin: 30px;
    color: white;
    font-family: "roboto";
    padding: 10px 30px ;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.boton:hover {
    background-color: #cdc3e6;
}

.boton:focus {
    background-color: #bec1bb;
    
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex: 4;
    background-color: #e8ebe4;
}

.hero img {
    display: block;
    width: 250px;
    margin-bottom: 10px;
    border-radius: 10px;
}

h1 {
    font-weight: lighter;
    text-align: center;
    font-size: 45px;
}

h4 {
    font-size: 16px;
    font-weight: 300;
}

.hero p {
    text-align: center;
}
